<section class="homepage">
    <div class="main_container">
        <div class="element element_01">
            <h2>Welcome to Magnus</h2>
            <p>Magnus is your go-to adaptive web app builder library. Quickly set up pre-compiled projects using popular frameworks such as Angular, React, and React Native.</p>
            <p>To get started with different framework right away follow the steps below:</p>
            <ol>
                <li>Install the Magnus CLI tool globally: <code>npm install -g magnus</code></li>
                <li>Create a new project: <code>magnus create</code></li>
                <li>Follow the prompts to select your framework and name your project.</li>
                <li>Navigate into your project directory and start coding!</li>
            </ol>
            <button onclick="window.location.href='https://github.com/mihir-gawade/adaptive-web-app-builder-library/tree/main'">View Documentation</button>
        </div>
    </div>
</section>
