<section class="footer">
    <div class="main_container">
        <div class="sub_section_01">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quos exercitationem consectetur?
                Repellat cumque perferendis molestiae quo tempore dignissimos dolor voluptas inventore porro culpa
                reiciendis magni ullam aliquam ipsam, suscipit delectus rem deserunt nemo accusamus tenetur quasi
                dolorum nam nihil. Doloremque ipsa deserunt iure laboriosam sint voluptatem accusantium perferendis
                fugiat laudantium cum delectus, facilis alias magni quaerat qui. In quasi dicta quia ducimus magnam
                deserunt voluptatibus rerum, quas cupiditate voluptate excepturi ipsum at assumenda officia reiciendis
                saepe, illo placeat beatae facilis aut. Repellat molestiae, fugit accusamus voluptates rem commodi?
                Asperiores repudiandae ipsa quis saepe nostrum ducimus tempore autem fuga error?
            </p>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas qui officiis nisi doloribus dolor. Ea
                provident eos amet sed autem quam ipsa fugit eligendi expedita incidunt nostrum quas commodi sunt
                maiores totam atque, reiciendis voluptatem. Eligendi at eum asperiores minima reiciendis hic dignissimos
                aliquam aperiam nihil, sit quisquam esse quam amet mollitia eos animi eius sed repellat omnis? Mollitia
                cum quos dignissimos placeat perspiciatis assumenda dolorem modi. Vitae similique animi dolor voluptatum
                aperiam nihil architecto odio, exercitationem atque, culpa fuga beatae veritatis sequi, assumenda
                aliquam voluptates itaque deleniti quisquam asperiores rem. Iste inventore velit maiores veritatis.
                Sequi dolore obcaecati illo.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sed quod omnis laudantium pariatur
                expedita ea voluptatem non ex corporis, corrupti ipsam sint, suscipit quia voluptatibus quasi repellat
                explicabo, doloribus praesentium? Laudantium, totam repudiandae dolor vero distinctio et repellat
                accusantium nulla provident, hic soluta possimus non tempore voluptatum omnis? Pariatur in possimus
                laborum perspiciatis voluptatum, tenetur debitis suscipit ab. Ducimus vel itaque, dolore ullam modi
                quaerat, cupiditate veritatis voluptates tempora ratione non dolorem nam laborum cum adipisci ipsa!
                Atque ipsa itaque aliquid obcaecati natus sunt molestias veritatis fuga ipsum iste beatae adipisci,
                facere commodi? Dolores recusandae quasi itaque error atque.</p>
        </div>
        <div class="division"></div>
        <div class="sub_section_02">
            <div class="col_01">
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
            </div>
            <div class="col_02">
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
            </div>
            <div class="col_03">
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
            </div>
            <div class="col_04">
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
                <h3>lorem</h3>
                <ul>
                    <li>lorem</li>
                    <li>lorem</li>
                    <li>lorem</li>
                </ul>
            </div>
        </div>
        <div class="division"></div>
        <div class="sub_section_03">
            <div class="start_block">
                <span>Copyright &copy; 2024 lorem Automation</span>
                <span> | </span>
                <span>All rights reserved.</span>
            </div>
            <div class="mid_block">
                <span>Privacy Polics</span>
                <span> | </span>
                <span>Terms of Use</span>
                <span> | </span>
                <span>Sales and Refunds</span>
                <span> | </span>
                <span>Legal</span>
                <span> | </span>
                <span>Site Map</span>
            </div>
            <div class="end_block">
                <span>India</span>
            </div>
        </div>
    </div>
</section>